.Rproj.user
.Rhistory
.RData
.Ruserdata
"data/Dendrometer_Data_clean.csv" 
"data/Dendrometer_Data_clean.csv" 
"data/gifford_dendro_tree_meta.xlsx" 
"data/Dendrometer_Data_clean.csv" 
"data/processed/dendrometer_clean.rds" 
